/* 폰트, 바디마진, ... */
/* 설치한 폰트 적용 */
@font-face {
  font-family: '나눔';
  src: url(./NanumSquareR.woff2);
}

body{
  font-family: '나눔';
  margin:0;
  background: black;
}

div, input, textarea{
  box-sizing: border-box;
}

.top-nav{
  background:rgb(246,245,239);
}

nav{
  position:fixed;
  width:100%;
  z-index: 8;
}

.ads{
  position:fixed;
  background-image: url(./img/item1.png);
  z-index:5;
  top:30%;
  left:80%;
  width:140px;
  height:96px;
}

.top-nav-inner{
  width:1100px;
  height:120px;
  margin:auto;
  display:flex;
  justify-content: space-between; /* 양쪽 정렬(가로) */
  align-items: center;    /*가운데 정렬 (세로)*/
}

.first-nav li{
  display:inline-block;
  padding: 0 15px;
  border-right: 1px solid lightgray;
}

.no-border{
  border-right:none !important;
}

.dump{
  height:120px;
}

.first-nav a{
  color:black;
  text-decoration: none;
  font-size:small;
}

.first-nav a:hover{
  text-decoration: underline;
}

.second-nav li{
  display: inline-block;
  
}

.second-nav a{
  padding: 10px 16px 22px 16px;      /* 위에서부터 시계방향으로 */
}

.first-nav{
  display:flex;
  justify-content: flex-end;
}

.second-nav{
  display:flex;
  justify-content: flex-end;
}

.second-nav a{
  color:black;
  text-decoration: none;
}

.second-nav a:hover{
  
  
  
}

.second-nav-show{
  color:green !important;
  text-decoration: underline !important;
  background:rgb(44,42,41)
}

.down-nav{
  background:rgb(44,42,41);
  width:100%;
  transition: max-height 0.5s;
  max-height:0;
  visibility: hidden;
}

.down-nav-show{
  max-height:500px;
  visibility: visible;
}

.down-nav-inner{
  width:1100px;
  margin:auto;
  color: white;
  display:flex;
  padding:15px;
}

.down-nav-inner div{
  width: 200px;
}

.down-nav ul{
  margin:0;
  padding:0;
}

.down-nav li{
  list-style-type: none;
  font-size:small;
}

.section-1{
  width:100%;
  height:32vw;
  background-image: url(./img/section1.png);
  background-position: center;
  background-size:cover;      /* cover */
  position:relative;
}

.section-1 .img-text{
  position:absolute;
  left:20%;
  top:20%;
  width:20vw;    /* 가로 화면 크기에 비례 */
}

.section-1 .section-1-btn{
  position:absolute;
  left:25%;
  top:65%;
  background:transparent;   /* 투명 */
  border: 2px solid green;
  padding:5px 15px;
  border-radius: 5px;
  transition: all 0.5s;
}

.section-1 .section-1-btn:hover{
  color:white;
  background:rgb(19,54,45);
  text-decoration: underline;
  cursor:pointer;
}

.section-1 .product1{
  position:absolute;
  left:45%;
  top:25%;
  width:22vw;
}

.section-1 .product2{
  position:absolute;
  left:65%;
  top:12%;
  width:15vw;
}

.section-1 .product3{
  position:absolute;
  left:78%;
  top:19%;
  width:15vw;
}

.section-2{
  display:flex;
}

.section-2 .back-black{
  background:black;
  color:white;
  display: flex;
  width:50%;
  justify-content: space-between;
  align-items: center;
  padding:0 25px;
}

.section-2 .back-black li{
  list-style-type: none;
}

.section-2 .back-white{
  background:white;
  color:black;
  display: flex;
  width:50%;
  justify-content: center;
  align-items: center;
}

.section-2 .back-black-icon{
  font-size:larger;
  border:1px solid white;
  padding:4px 4px 1px 4px;
  border-radius: 30px;
}

.section-2 .back-white-icon{
  margin-left: 100px;
  font-size:larger;
  padding:4px 4px 1px 4px;
  border:1px solid black;
  border-radius: 30px;
}

.display-none{
  display:none;
}

.section-4{
  width:100%;
  height:22vw;
  background-image: url(./img/section4.png);
  background-position: center;
  background-size:cover;      /* cover */
}

.section-5{
  width:100%;
  height:18vw;
  background-image: url(./img/section5.png);
  background-position: center;
  background-size:cover;      /* cover */
}

.section-6{
  width:100%;
  height:32vw;
  background-image: url(./img/section6.png);
  background-position: center;
  background-size:cover;      /* cover */
}

.section-7{
  width:100%;
  height:22vw;
  background-image: url(./img/section7.png);
  background-position: center;
  background-size:cover;      /* cover */
}

.section-8{
  width:100%;
  height:22vw;
  background-image: url(./img/section8.png);
  background-position: center;
  background-size:cover;      /* cover */
}

@media screen and (max-width:768px) {
  .section-2{
    display:block;
  }

  .section-2 .back-black{
    width:100%;
  }

  .section-2 .back-white-icon{
    margin-left: 0;

  }

  .section-2 .back-black h3{
    display: none;
  }

  .section-2 .back-white{
    width:100%;
    justify-content: space-between;
    padding:0 25px;
  }

  .section-2 .back-white p{
    padding-left:40px;
  }
}